[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=root

WorkingDirectory=/home/tgbotghost/
Environment="PYTHONPATH=/home/tgbotghost/"
ExecStart=/usr/bin/python3 /home/tgbotghost/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target