[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=tgbot
Group=tgbot

WorkingDirectory=/home/tgbot/tgbotghost/
Environment="PYTHONPATH=/home/tgbot/tgbotghost/"
ExecStart=/home/tgbot/tgbotghost/.venv/bin/python3 /home/tgbot/tgbotghost/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target